<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hola pepu</title>
</head>
<body>
    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    {% for Post in posts %}
        <div>
            <p> publicado: {{ Post.published_date }}</p>
            <h2><a href="">{{ Post.title }}</a></h2>
            <p>{{ Post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
</body>
</html>